@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
.container > * {
 background-color: lightblue;
  border: 1px solid blue;
}

body{
  font-family: 'Roboto';
}
.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr) ;
}
.sidebar{
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  gap: 20px;
  background-color: #1992D4;
  font-weight:500;
}

.sidebarTop{
  grid-row: 1 / 2;
  font-size: 30px;
}

.sidebarMiddle{
  grid-row: 3/ 9;
}

.sidebarBottom{
  grid-row: 11 / 14;
}

.sidebarText{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin-left: 3vw;
  margin-top:1vh;
  color: antiquewhite;
}

.sidebarTop img{
  width: 75px;
  height: auto;
  filter: invert(86%) sepia(0%) saturate(4766%) hue-rotate(291deg) brightness(117%) contrast(85%); /* change color of svg*/
}

.sidebarMiddle img, .sidebarBottom img{
  width: auto;
  height: 30px;
  filter: invert(86%) sepia(0%) saturate(4766%) hue-rotate(291deg) brightness(117%) contrast(85%); /* change color of svg*/
}

.sidebarMiddle, .sidebarBottom{
  font-size: 20px;
  display: grid;
  gap: 5px;
}

.sidebarTop .sidebarText{
  margin-left: 2vw;
}

.header{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header img {
  width: auto;
  height: 30px;
}

.searchbar{
  grid-column: 1 / 10;
  grid-row: 1 / 2;
  display: flex;
  margin-left: 25px;
  margin-top: 25px;
  gap: 10px;
}

.searchbar input{
  height: 30px;
  width: 1200px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #e2eaf2;
}

.profile{
  grid-column:12 / -1;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
  font-size: 1.5rem;
}

.profile img{
  border-radius: 50%;
  height: 40px;
}

.greeting{
  grid-row: 2/ -1;
  grid-column: 2 / 8;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-weight: 500;
  font-size: 1.5rem;
}

.greeting img{
  border-radius: 50%;
  height: 70px;
}

.headerAction{
  grid-column: 11 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn{
  display: inline-block;
  padding: 0.6em 2.5em;
  background-color: #1992D4;
  color: white;
  border-radius: 50px; 
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}